* {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: jpx solid;
  border-radius: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li .search {
  background-color: azure;
  display: flex;
  flex: 1;
  border-radius: 30px;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul li .Search {
  padding: 15px 30px;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
}

.bam {
  padding: 10px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.bam1 {
  padding: 10px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 30px;
}

.icon {
  margin-left: 20px;
}

main {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 245, 247);
}

.content-left {
  width: 50%;
  margin: 0 15%;
  background-color: white;
  padding: 10px 30px 10px 10px;
}

@media only screen and (max-width: 320px) {
  body {
    color: lightgreen;
  }
  p {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  body {
    color: blueviolet;
  }
  p {
    color: white;
  }
  header ul li {
    color: white;
  }
}
